{% extends "base.html" %}
{% block title %} Editer un GENRE (WTF) {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Editer un GENRE
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form_update.hidden_tag() }}
				<div class="form-group">
					 <p>
						{{ form_update.nom_genre_wtf.label }}<br>
						{{ form_update.nom_genre_wtf(cols=50, rows=3) }}<br>
						{% for error in form_update.nom_genre_wtf.errors %}
						<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>

                 <p>
						{{ form_update.prenom_personne.label }}<br>
						{{ form_update.prenom_personne(cols=50, rows=3) }}<br>
						{% for error in form_update.prenom_personne.errors %}
						<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>

                 <p>
						{{ form_update.fk_mail.label }}<br>
						{{ form_update.fk_mail(cols=50, rows=3) }}<br>
						{% for error in form_update.fk_mail.errors %}
						<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>

                 <p>
						{{ form_update.fk_tel.label }}<br>
						{{ form_update.fk_tel(cols=50, rows=3) }}<br>
						{% for error in form_update.fk_tel.errors %}
						<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
				</div>
				{{ form_update.submit(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

